/*base case*/
/*so the entire image is 333 x 500 px. */
/* we have 2 scenes per row and 4 rows total.*/
/*each image will be */
/*166 x 125*/
/*first one is 0x0, 166x0, 0x125, 166x125, 0x250, 166x250, 0x375, 166x375 */

div.homer {
	width: 166px;
	height: 125px;
	background-image: url("./homer.jpg"); 
	background-color: #000000;
}

@media (min-width: 1200px) {
 div.homer {
 		background-position: 0px 0px;
	}
}

@media (max-width: 1200px) {
  div.homer {
 		background-position: 166px 0px;
	}
}

@media (max-width: 1100px) {
	div.homer {
		background-position: 0px 375px;
	}
}

@media (max-width: 1000px) {
	div.homer {
		background-position: 166px 375px;
	}
}

@media (max-width: 900px) {
	div.homer {
		background-position: 0px 250px;
	}
}

@media (max-width: 800px) {
	div.homer {
		background-position: 166px 250px;
	}
}

@media (max-width: 700px) {
	div.homer {
		background-position: 0px 125px;
	}
}

@media (max-width: 600px) {
	div.homer {
		background-position: 166px 125px;
	}
}